<!DOCTYPE html>
<html lang="kr" xmls:th="http://www.thymeleaf.org" xmlns:xmls="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>개인정보처리약관</title>
    <style>
        .title{
            padding-bottom: 20px;
            padding-left: 50px;
            padding-right: 50px;
        }
        .content{
            padding-left: 50px;
            padding-right: 50px;
        }
        .head{
            width: auto;
            padding-left: 50px;
            padding-right: 50px;
        }
        img{
            width: 80px;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="head"><img src="/templates/connect-logo.png"></div>
    <h1 class="title">Qvick 개인정보처리약관</h1>
    <div class="content">
        <h3>제1조 목적</h3>
        <p>Team C0nnect(이하 운영진)는 대구소프트웨어마이스터고등학교(이하 학교)의 기숙사 관리 온라인 플랫폼 Qvick(이하 서비스) 이용을 위해 개인정보를 수집
        및 관리하고 있습니다.</p>
        <br>
        <h3>제2조 수집과 이용목적</h3>
        <p>운영진은 다음과 같은 개인정보를 유저에게서 수집합니다.</p>
        <p>1) 전자메일(e-mail)</p>
        <p>2) 유저의 주민등록등본 상의 실명</p>
        <p>3) 유저가 등록한 비밀번호</p>
        <p>4) 유저의 현재 학번과 호실</p>
        <p>5) 유저의 기숙사 출석 여부</p>
        <p>유저는 해당 정보를 제공함에 있어 허위/과장/도용 된 정보가 없어야 하며, 발각 시에는 즉각 서비스 이용 중지 및 추후 학교에서 정하는 교칙과 관련 대한민국 법령에
        의거하여 처리합니다.</p>
        <p>개인정보 수집 이용목적 (사용 목적에 변경사항이 발생할 경우 유저에게 해당 사실을 사전에 공지합니다.)</p>
        <p>1) 이메일, 비밀번호를 통한 신원 확인 및 중복 가입 방지</p>
        <p>2) 부정 이용 방지 및 서비스 악용 방지</p>
        <p>3) 기숙사 출석체크 서비스 이용 시에 학생 개개인의 식별</p>
        <p>4) 그 외에 개인 맞춤 서비스 제공을 위해</p>
        <br>
        <h3>제3조 수집방법</h3>
        <p>유저에게 회원가입 시에 제2조에 명시되어있는 1,2,3,4번 항목의 해당하는 정보를 기입받아 수집합니다. 5번 항목은 서버에서 자동으로 수집합니다.
        유저는 수집 방법에 대한 공개를 요청할 있으며 운영진은 해당 행위가 개인정보보호법과 관련 법령을 저해하거나 침해하지 않는 한 공개하여야 합니다.</p>
        <br>
        <h3>제4조 개인정보 보관 및 기간</h3>
        <p>운영진은 제2조에 명시된 목적을 위하여 유저의 서비스 이용 기간 동안 개인정보를 수집, 보관합니다. 그러나 아래에 이유로 유저의 회원탈퇴 이후 30일간
        유저의 전자메일과 비밀번호를 보관합니다.</p>
        <p>1) 유저의 빈번한 탈퇴와 가입으로 인한 서비스 장애 초래 방지</p>
        <p>2) 중복 가입 및 악의적인 정보 이용 방지</p>
        <p>회원탈퇴라 함은 자의로 탈퇴를 진행하였거나 혹은 이용약관에 의거하여 서비스 이용이 중지/제한된 것을 말합니다.</p>
        <br>
        <h3>제5조 개인정보의 파기 및 절차</h3>
        <p>운영진은 유저의 모든 서비스 이용 및 개인정보 보관 기간이 만료된 직후 그 즉시 해당하는 유저의 모든 개인정보를 파기 처리하는 것을 원칙으로 합니다. 파기 절차는 기술적으로
        추후 복구나 기록을 재생할 수 없는 기술적인 방법을 이용해 삭제 처리합니다. 해당 작업은 이행된 이후 회귀될 수 없으며 이에 대한 책임은 운영진이 지지 않습니다.</p>
        <br>
        <h3>제6조 개인정보의 제공 및 위탁</h3>
        <p>운영진은 유저의 개인정보를 이용약관에 명시된 제3자를 제외한 그 어떤 업체나 개인에게 제공하지 않는 것을 원칙으로 합니다. 그러나 해당 유저가 사전에 동의한 경우나,
        관련 법령에 의거하여 적법한 수사 절차를 위한 수사 기관의 공개 요청이 있을 경우에는 예외로 합니다. 운영진은 그 어떠한 업체에게도 개인정보를 위탁하지 않습니다.</p>
        <br>
        <h3>제7조 유저 및 법정대리인의 권리와 그 행사방법</h3>
        <p>이용자 및 법정 대리인은 언제든지 등록되어 있는 자신의 개인정보를 조회하거나 수정할 수 있으며 가입해지를 요청할 수도 있습니다.
            이용자의 개인정보 조회, 수정을 위해서는 ‘개인정보변경’(또는 ‘회원정보수정’ 등)을, 가입해지(동의철회)를 위해서는 “회원탈퇴”를
            클릭하여 본인 확인 후 직접 열람, 정정 또는 탈퇴가 가능합니다. 혹은 개인정보관리책임자에게 서면, 전화 또는 이메일로 연락하시면 지체 없이 조치하겠습니다.
            이용자가 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다.</p>
        <br>
        <h3>제8조 개인정보 자동수집 장치의 설치, 운영 및 그 거부에 관한 사항</h3>
        <p>쿠키는 웹사이트를 운영하는데 이용되는 서버가 이용자의 브라우저에 보내는 아주 작은 텍스트 파일로서 이용자의 컴퓨터에 저장됩니다.
            보다 빠르고 편리한 웹사이트 사용을 지원하고 맞춤형 서비스를 제공하기 위해 사용됩니다. 유저가 선호하는 설정 등을 저장하여
            보다 빠른 웹 환경을 지원하며, 편리한 이용을 위해 서비스 개선에 활용합니다. 유저는 쿠키 설치에 대한 선택권을 가지고 있습니다.
            따라서, 이용자는 웹 브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나,
            모든 쿠키의 저장을 거부할 수도 있습니다. 다만, 쿠키의 저장을 거부할 경우에는 로그인이 필요한 일부 서비스는 이용에 어려움이 있을 수 있습니다.</p>
        <br>
        <h3>제9조 개인정보 관리를 위한 기술적 대책</h3>
        <p>운영진은 유저의 개인정보를 취급함에 있어 개인정보가 분실, 도난,
            유출, 변조 또는 훼손되지 않도록 안정성 확보를 위해 다음과 같은 기술적, 관리적 대책을 강구하고 있습니다.</p>
        <p>1) 이용자의 개인정보를 암호화된 통신구간을 이용하여 전송하고, 비밀번호 등 중요정보는 암호화하여 보관하고 있습니다.</p>
        <p>2) 해킹이나 컴퓨터 바이러스 등에 의해 유저의 개인정보가 유출되거나 훼손되는 것을 막기 위해 외부로부터 접근이 통제된 구역에 시스템을 설치하고 있습니다.
            해커 등의 침입을 탐지하고 차단할 수 있는 시스템을 설치하여 24시간 감시하고 있으며,
            백신 프로그램을 설치하여 시스템이 최신 악성코드나 바이러스에 감염되지 않도록 노력하고 있습니다.</p>
        <p>3) 유저가 사용하는 아이디와 비밀번호는 원칙적으로 유저만이 사용할 수 있도록 되어 있습니다.
            운영진은 유저의 개인적인 부주의로 아이디, 비밀번호 등 개인정보가 유출되어 발생한 문제와 기본적인 인터넷의 위험성 때문에 일어나는 일들에 대해 책임을 지지 않습니다.
            비밀번호에 대한 보안의식을 가지고 비밀번호를 자주 변경하며, 타인이 알기 쉬운 비밀번호를 사용하거나, 공용 PC 에서의 로그인시 개인정보가 누출되지 않도록 각별한 주의를 기울여 주시기 바랍니다.</p>
        <br>
        <h3>제10조 개인정보 관련 민원서비스</h3>
        <p>유저의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 아래와 같이 개인정보관리책임자를 지정하고 있습니다.
            유저는 서비스를 이용하며 발생하는 모든 개인정보보호 관련 민원을 개인정보 관리책임자에게 신고하실 수 있습니다.</p>
        <br>
        <p>개인정보관리책임자:</p>
        <p>성명 : </p>
        <p>Tel : </p>
        <p>메일 : teamc0nnect3306@gmail.com</p>
        <br>
        <p>기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.</p>
        <p>개인정보침해신고센터 (privacy.kisa.or.kr / 국번없이 118)</p>
        <p>대검찰청 사이버수사과 (www.spo.go.kr / 국번없이 1301)</p>
        <p>경찰청 사이버안전국 (cyberbureau.police.go.kr / 국번없이 182)</p>
        <br>
        <h3>부칙</h3>
        <p>이 개인정보처리방침은 2024년 5월 30일부터 적용되며 법령, 정책 또는 보안기술의 변경에 따라 내용의 추가,
            삭제 및 수정이 있을 시에는 변경사항의 시행일의 3일 전부터 Qvick 사이트와 모바일 플랫폼의 알림판을 통하여 고지할 것입니다.</p>
    </div>
</body>
</html>
