<!DOCTYPE html>
<html lang="en" xmls:th="http://www.thymeleaf.org" xmlns:xmls="http://www.w3.org/1999/xhtml">
  <head>
      <meta charset="UTF-8">
      <title>이용약관</title>
    <style>
      .title{
        padding-bottom: 20px;
        padding-left: 50px;
        padding-right: 50px;
      }
      .content{
        padding-left: 50px;
        padding-right: 50px;
      }
      .head{
        width: auto;
      }
      img{
        width: 80px;
        height: auto;
      }
    </style>
  </head>
  <body>
    <div class="head"><img src="/templates/connect-logo.png"></div>
    <h1 class="title">Qvick 이용약관</h1><p>
    <div class="content">
      <h3>제1조 목적</h3>
      <p>Team C0nnect(이하 운영진)는 이용자(이하 유저)에게 기숙사 온라인 출석체크 서비스 "Qvick" (이하 서비스)를 이용하기 위한 약관과 그 정의를 서술하고 있습니다.</p>
      <br>
      <h3>제2조 이용 조건</h3>
      <p>유저는 대구소프트웨어마이스터고등학교(이하 학교)에 재학중이며, 기숙사 시설을 이용 중이거나 이용 예정인 자여야 합니다. 또한 운영진은 아래의 사항에 해당하지 않는 자에게
      합당한 사유가 없는 한 서비스 이용을 수락, 제공해야 합니다.</p>
      <p>1) 유저가 학교 재학생이 아닌 경우, 이는 자퇴 / 퇴학 등 현재 학교 서류 상으로 재학 중이지 않은 경우를 모두 포괄한다.</p>
      <p>2) 유저가 현재 학교에 기숙사 시설을 이용 중이지 않을 경우, 시설 이용자라 함은 기숙사에 숙박하며 이용하는 것을 말한다.</p>
      <p>3) 유저 정보를 허위/과장하여 작성하거나 타인의 개인정보를 도용하였을 경우. 이미 이용 중인 유저더라도 허위/과장된 정보 또는 도용 사실이 밝혀질 경우 즉시
      회원 탈퇴 조치된다.</p>
      <br>
      <h3>제3조 약관 효력 및 권리</h3>
      <p>유저가 회원가입 시 약관 동의 후 즉시 효력이 생기며, 유저는 해당 약관 동의를 거부할 수 있습니다. 그러나 동의하지 않을 경우 서비스 이용이 불가능함을 알립니다.
      운영진은 약관의 내용을 관련 법령이 제정하는 범위에 한하여 변경할 수 있으며 이를 유저에게 공지하어야 합니다. 유저는 관련 내용을 확인 후 언제든 동의를 해지할 수 있으며,
      이에 따라 서비스 이용은 즉각 중지됩니다.</p>
      <p>**약관 해지 의사를 밝히지 않은 경우 동의한 것으로 간주합니다.</p>
      <br>
      <h3>제4조 회원가입 또는 이용신청</h3>
      <p>유저는 회원가입(또는 이용신청이라 칭함)할 시에 아래 각 호에서 정의한 정보를 입력 후, 개인정보처리방침/이용약관에 동의하어야 가입(신청)을 정상적으로 완료할 수 있습니다.</p>
      <p>1) 유저 실명 (주민등록등본에 기재된 실명을 기준으로 한다).</p>
      <p>2) 유저 e-mail(전자메일), 이는 학교에서 제공한 전자메일로 한하며 이는 서비스 관리 및 유지보수의 편의성을 위함이다.</p>
      <p>3) 비밀번호, 이는 유저가 운영진이 정한 규칙에 따라 유저가 정한 비밀번호를 입력하어야 한다.</p>
      <p>4) 학번, 유저는 학교에서 매년 주어지는 4자리의 학번을 입력하어야 한다. 이는 수정될 수 있으며, 허위 정보를 기재할 경우 제3조에 따라 서비스 이용이 중지된다.</p>
      <p>5) 호실, 유저는 항시 본인이 현재 숙박 중인 호실의 호수를 제공하어야 하며 이는 서비스의 본 목적인 "기숙사 관리"를 위함이다.</p>
      <p>**기타 수집/이용하는 개인정보는 개인정보처리방침에 기재합니다.</p>
      <br>
      <h3>제5조 유저 정보의 수정</h3>
      <p>유저가 개인정보처리방침에서 기재하는 개인정보를 수정하고자 하거나, 수정해야할 필요가 있을 경우 즉시 수정하여야 합니다. 이를 수정하지 않아서 발생한 피해/불이익은
      유저 개인이 집니다. 그러나 전자메일, 실명 등 유저 고유의 정보는 아래 사항에 해당하는 경우를 제외하고는 변경될 수 없습니다.</p>
      <p>1) 학교에서 해당 유저의 전자메일 변경/삭제한 경우.</p>
      <p>2) 유저가 관련 법령에 따라 합법적인 절차로 개명을 실시한 경우.</p>
      <br>
      <h3>제6조 서비스 이용</h3>
      <p>이용진이 제공하는 서비스 이용을 위해서는 제4조에서 명시하고 있는 회원가입을 진행하어야 합니다. 회원가입이 되지 않는 유저는 서비스 이용을 할 수 없습니다.
      서비스의 이용 시간은 온라인 플랫폼으로, 24시간 연중무휴임을 명시합니다. 운영진은 아래 각 호에 해당하는 경우 직권으로 유저의 서비스 이용을 제한/중지할 수 있습니다.</p>
      <p>1) 서비스 설비의 점검 및 유지보수 또는 공사</p>
      <p>2) 국가비상사태, 서비스 설비의 장애 또는 서비스 이용의 폭주 등으로 서비스 이용에 지장이 있는 경우</p>
      <p>3) 국가 또는 관계기관의 명령으로 인해 일부 서비스를 제한해야 할 경우</p>
      <p>4) 기타 중대한 사유로 인해 서비스의 이용을 지속하는 것이 업무상 및 기술상 불가능할 경우 또는 운영상 서비스 제한이나 중지가 불가피하다고 판단되는 경우</p>
      <p>운영진은 효율적이고 안전한 서비스 운영을 위하여 이용 수칙을 정할 수 있으며 이를 유저에게 공지합니다, 또한 유저는 해당 수칙을 따라야합니다.</p>
      <p>학교 또는 관련 기관에서 유저의 서비스 이용 중지를 요청할 경우 운영진은 해당 요청을 특별한 사유가 없는 한 받아드리는 것을 원칙으로 합니다.</p>
      <p>운영진은 일정 기간동안 접속 이력이 없는 회원에 대하여 로그인시 본인인증을 거치도록 하는 등의 절차를 둘 수 있습니다.</p>
      <br>
      <p>회원이 서비스 내에 게시하거나 전달하는 모든 내용물이 다음 각 호에 해당한다고 판단될 경우 운영진은 사전 통보 없이 게시중단, 이동, 삭제 등의 조치를 취할 수 있으며
        필요한 경우 해당 회원의 서비스 이용자격을 일정 기간 제한하거나 영구 중지할 수 있습니다.</p>
      <p>1) 회원 또는 제3자에 대한 인신공격, 비하, 비방, 욕설, 중상모략, 허위사실 유포, 명예훼손 등의 내용이 포함된 경우</p>
      <p>2) 타인을 고의적으로 기만하거나 부정하게 영리적, 업무적 기타 개인적인 이익을 얻을 목적임이 확인되는 경우</p>
      <p>3) 자신의 종교적 신념을 강요하거나 타인의 종교를 비하한 경우</p>
      <p>4) 공공질서 및 미풍양속에 위반되는 내용인 경우</p>
      <p>5) 범죄적 행위에 결부된다고 인정되는 내용인 경우</p>
      <p>6) 회원 또는 제3자의 저작권이나 초상권 등 기타 권리를 침해하는 내용인 경우</p>
      <p>7) 정보통신설비의 오작동이나 정보 등의 파괴를 유발시키는 컴퓨터바이러스 프로그램 등을 유포하는 경우</p>
      <p>8) 스토킹, 불필요한 특수문자 과다사용, 반복적인 게시물 붙여넣기 등 다른 이용자의 이용을 방해하는 경우</p>
      <p>9) 특정 집단에 대한 차별적 내용으로서 해당 집단이나 그 구성원들에게 굴욕감이나 불이익을 현저하게 초래하는 경우</p>
      <p>10) 기타 관계법령에 위반되거나 운영진에서 정한 각 서비스의 목적에 따른 이용규칙에 어긋나는 경우</p>
      <p>회원의 공개된 게시물 등에 대하여 다른 이용자 혹은 제3자의 법률상 권리 침해를 근거로 게시중단 요청을 받은 경우 운영진은
        게시물을 삭제하거나 게시물 차단 등의 임시조치를 할 수 있으며 게시중단 요청자와 게시물 등록 회원간의 합의 또는 법적조치의 결과 등이 접수되면 이를 따릅니다.</p>
      <p>운영진은 서비스 내에 공개된 게시물 등이 사생활 침해 또는 명예훼손 등 제3자의 권리를 침해한다고 인정하는 경우 전항의 게시중단 요청이 없어도 해당 게시물을 게시중단 할 수 있습니다.</p>
      <br>
      <h3>제7조 저작물 이용</h3>
      <p>서비스 내에서 게시된 게시물 등의 저작권은 해당 게시물의 저작자에게 귀속됩니다. 그러나 다음 각 호에 해당하는 범위 내에서 도담도담은 회원이 등록한 게시물을 이용할 수 있습니다.</p>
      <p>1) 서비스 내에서 게시물의 복제, 전송, 전시, 배포 및 이를 위해 게시물의 제목 및 내용을 변경하거나 수정 또는 이동할 수 있습니다. </p>
      <p>2) 게시판의 용도에 적합하지 않거나 이용 규칙에 위배되는 경우, 게시물을 수정하거나 게시판의 위치를 변경, 또는 삭제할 수 있습니다.</p>
      <p>3) 회원이 스크랩 등의 기능을 사용하여 게시물의 제목 및 링크를 이용할 수 있습니다. </p>
      <p>4) 검색 등 향상된 서비스를 위해 관련 제휴사에게 게시물의 제목 및 내용, 게시자의 ID, 닉네임 등 필요한 정보를 제공할 수 있습니다.
        단 이 경우 제공된 정보는 지정된 목적 이외에는 사용되지 않으며, 성명, 이메일 등 회원의 개인정보는 제공되지 않습니다.</p>
      <br>
      <h3>제8조 운영진의 의무</h3>
      <p>1) 운영진은 관련 법령과 이 약관이 정하는 사항을 준수하며, 지속적이고 안정적인 서비스를 위해 최선을 다합니다. </p>
      <p>2) 운영진은 회원의 회원정보를 보호하며, 개인정보처리방침과 개인정보 보호법을 공시하고 준수합니다.</p>
      <p>3) 운영진은 서비스 제공과 관련해서 알고 있는 회원의 신상 정보를 본인의 승낙 없이 제3자에게 누설하거나 배포하지 않습니다.
        단, 전기통신기본법 등 법률의 규정에 의해 국가기관의 요구가 있는 경우, 범죄에 대한 수사상의 목적이 있거나 또는 기타 관계법령에서 정한 절차에 의한 요청이 있을 경우에는
        그러하지 아니합니다.</p>
      <p>4) 운영진은 회원 수신 동의를 하지 않은 영리목적의 광고성 전자우편, SMS 문자서비스 등을 발송하지 아니합니다.</p>
      <br>
      <h3>제9조 유저의 책임</h3>
      <p>1) 유저는 자신의 전자메일, 비밀번호 등 개인정보에 대한 관리책임을 가집니다.</p>
      <p>2) 유저가 작성한 게시물 등에 대한 모든 권리와 책임은 이를 작성한 유저에게 있습니다.</p>
      <p>3) 서비스를 통해 얻은 정보를 그 정보 권리자의 동의없이 수집, 복제, 배포할 수 없습니다.</p>
      <p>4) 서비스를 이용하여 해킹, 불법자료의 배포 및 기타 불법행위를 하여서는 아니되며,
        이를 위반하여 발생한 영업활동의 결과 및 손실, 관계기관에 의한 법적조치 등에 관하여서는 그 유저가 책임을 집니다.</p>
      <p>5) 유저는 운영진이 정한 약관 및 이용규칙을 숙지하고 준수하여야 합니다.</p>
      <br>
      <h3>제10조 회원탈퇴 및 이용중지</h3>
      <p>유저가 회원가입을 통한 이용계약을 해지하고자 하는 때에는 회원 본인이 인터넷을 통하여 해지신청을 하여야 합니다.
        단, 유관기관의 요청이 있는 경우 본인이 직접 탈퇴하지 않아도 이용계약 해지가 가능할 수 있습니다. 유저 개인정보는 회원 탈퇴 30일 후 자동 삭제되며,
        이 기간동안 재가입이 제한됩니다. 이용규칙 또는 약관 등을 위반하여 징계 중인 상태에서 탈퇴할 경우 재가입할 수 없으며,
        만일 재가입 후 징계사실이 확인되면 이용이 제한되거나 이전 회원조치이력을 승계할 수 있습니다.</p>
      <br>
      <h3>제11조 3자 정보 제공 동의</h3>
      <p>운영진은 본 서비스의 기본 목적인 "기숙사 관리"를 위하여 학교에서 지정하는 학생안전부, 기숙사 사감 선생님(이하 제3자라 칭함)등에게 학생의 개인정보를 양도/공개할 수 있습니다.
      그러나 아래 각 호 중 하나라도 해당되는 경우 공개하지 아니합니다. 이미 제공 중인 정보일 경우 운영진 직권으로 그 즉시 정보의 제공을 중단/폐기합니다.</p>
      <p>1) 양도된 정보가 개인정보보호법과 관련 법령을 위반하는 행위에 악용될 여지가 있는 경우.</p>
      <p>2) 정보 양도/공유의 행위가 심각한 정보 유출을 야기할 수 있는 경우.</p>
      <p>3) 기타 운영진의 판단 하에 제공되지 아니해야 하다고 판단될 경우</p>
      <br>
      <p>제3자에게 양도되는 정보는 기숙사 운영 및 관리를 위한 최소한의 정보이며 유저는 특별한 경우가 아니라면 이를 제공하는 것에 동의해야 합니다. 또한 아래 기재한 정보가
      아니라고 하여도 기타 필요하다고 생각되는 상황에는 제3자에게 제공될 수 있음을 알립니다.</p>
      <p>1) 유저의 출석 여부</p>
      <p>2) 유저의 실명/전자메일</p>
      <p>3) 유저의 현재 학번/호실</p>
      <br>
      <p>운영진은 정보를 제3자에게 제공할 경우 반드시 운영진 내에서 규정한 보안 절차와 비밀번호 암호화 과정을 거치며, 해당 정보의 유출/탈취를 방지하는 것에 최선을 다해야
      합니다. 유저는 원할 경우 정보 제공 방식의 공개 및 수정을 요청할 수 있으며 운영진은 아래 각 호에 해당하지 않는 경우에는 이를 수락하어야 합니다.</p>
      <p>1) 개인정보보호법과 관련 법령에 의거하여 정보 제공 방식의 공개가 이를 위반할 여지가 있는 경우.</p>
      <p>2) 유저가 제안하는 정보 제공 방식의 수정안이 기존 방식보다 보안 또는 기타 기술적인 사유로 부적합할 경우.</p>
      <br>
      <h3>제12조 양도 금지</h3>
      <p>유저는 서비스의 이용권한, 기타 이용계약상의 지위를 타인에게 양도, 증여할 수 없으며, 이를 담보로 제공할 수 없습니다.</p>
      <br>
      <h3>제13조 손해배상</h3>
      <p> 무료로 제공되는 서비스와 관련하여 회원에게 어떠한 손해가 발생하더라도 동 손해가 운영진의
        고의 또는 중대한 과실로 인한 경우를 제외하고 이에 대하여 책임을 부담하지 아니합니다.</p>
      <br>
      <h3>제14조 운영진 면책 조항</h3>
      <p>1) 천재지변, 전쟁 또는 기타 이에 준하는 불가항력으로 인하여 서비스를 제공할 수 없는 경우에는 서비스 제공에 관한 책임이 면제됩니다.</p>
      <p>2) 서비스용 설비의 보수, 교체, 정기점검, 공사 등 부득이한 사유로 발생한 손해에 대한 책임이 면제됩니다.</p>
      <p>3) 유저의 귀책사유로 인한 서비스 이용의 장애에 대하여 책임을 지지 않습니다</p>
      <p>4) 서비스를 이용하여 기대하는 이익이나 서비스를 통하여 얻는 자료로 인한 손해에 관하여 책임을 지지 않습니다.</p>
      <p>5) 타 유저가 서비스에 게재한 정보, 자료, 사실의 신뢰도, 정확성 등의 내용에 관하여는 책임을 지지 않습니다.</p>
      <br>
      <h3>제15조 법적 소재</h3>
      <p>운영진과 유저는 서비스에 관하여 발생한 분쟁을 원만하게 해결하기 위하여 필요한 모든 노력을 하여야 합니다. 또한 법적 소재지는 해당 서비스가 이용중인
      학교의 소재지의 재판소와 동일합니다.</p>
      <br>
      <h3>제16조 약관 이외의 준칙</h3>
      <p>이 약관에서 정하지 아니한 사항이나 해석에 대해서는 관계법령 또는 상관례에 따릅니다.</p>
      <br>
      <h4>부칙 (시행일) 이 약관은 2024년 5월 30일부터 시행합니다.</h4>
    </div>
  </body>
</html>